@model Application_Development_Project_2_Restuarant_.Models.Cart

@{
    ViewBag.Title = "ShoppingSuccess";
}
<body style="text-align:center">
    <h2>Your Shopping Was Successfull</h2>
    <h4>Bill will be sent, You will recieve your goods in few hours from now. Thank you For Shopping with Us</h4>
    <a class="btn btn-success" href="@Url.Action("ViewHome", "Home")">Continue with Shopping</a>
</body>